---
import OrganizerIntroduction from '@/libs/OrganizerIntroduction';
import StaffIntroduction from '@/libs/StaffIntroduction';
import Header1 from '@/libs/headers/Header1';

import type { Person } from '@/libs/stores/people';

type Props = {
  organizers: Person[];
  staffs: Person[];
};

const { organizers, staffs } = Astro.props;
---

<section class="mt-96 md:mt-72" id="staffs">
  <Header1 title="STAFFS" titleJa="スタッフ" className="mb-16" />

  <ul class="px-8 md:px-16 w-full flex flex-col items-end gap-12">
    {organizers.map((organizer) => (
      <OrganizerIntroduction
        name={organizer.name}
        positions={organizer.positions}
        description={organizer.introduction}
        avatarUrl={organizer.avatar.url}
      />
    ))}
  </ul>

  <ul class="mt-12 px-8 md:px-16 w-full grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-12">
    {staffs.map((staff) => (
      <StaffIntroduction
        name={staff.name}
        positions={staff.positions}
        description={staff.introduction}
        avatarUrl={staff.avatar.url}
      />
    ))}
  </ul>
</section>
