---
import Footer from '@/components/Footer.astro';
import SplashScreen from '@/components/SplashScreen.astro';

import Menu from '@/components/Menu';
import type { Assets } from '@/libs/stores/assets';
import { SEO } from 'astro-seo';
import Font from './Font.astro';
import GoogleAnalytics from './GoogleAnalytics.astro';

type Props = {
  title?: string;
  description?: string;
  xSite?: string;
  noindex?: boolean;
  nofollow?: boolean;
  assets: Assets;
};

const {
  title = 'バーチャルケモナイト | バーチャルからお送りする夜のDJフェス',
  description = 'バーチャルケモナイトは、7月12日にVRChatで開催されるオールナイトのDJイベントです。',
  xSite = '@KEMO_INTHE_DARK',
  noindex = true,
  nofollow = true,
  assets,
} = Astro.props;
---

<!doctype html>
<html lang="ja">
	<head>
    <SEO
      title={title}
      description={description}
      twitter={{
        site: xSite,
        title,
        description,
        image: assets.ogp.url,
        imageAlt: 'バーチャルケモナイト',
        card: 'summary_large_image',
      }}
      openGraph={{
        basic: { title, type: 'website', image: assets.ogp.url },
      }}
      noindex={noindex}
      nofollow={nofollow}
      charset="UTF-8"
      extend={{
        link: [
          { rel: "icon", type: "image/svg+xml", href: assets.favicon.url },
        ],
        meta: [
          { name: "viewport", content: "width=device-width, initial-scale=1" },
        ],
      }}
    />
    <Font />
    <GoogleAnalytics />
  </head>

	<body>
    <SplashScreen />
		<slot />
    <Footer assets={assets} />
    <Menu assets={assets} client:load />
	</body>
</html>
